<% provide(:title, "Schedule") %>

<div class="container">
  <div class="schedule">
    <h1>Schedule</h1>
    <h2>Monday, February 22nd, 2016</h2>
    <ul>
      <li><h4><strong>3:00-3:30 PM</strong> - <em>Registration</em></h4></li>
      <li><h4><strong>3:30-4:00 PM</strong> - <em>Inauguration Starts</em></h4></li>
      <li><h4><strong>4:00-4:45 PM</strong> - <em>Company Time</em></h4></li>
      <li><h4><strong>4:45-5:45 PM</strong> - <em>Land Auction</em></h4></li>
      <li><h4 style="color: #ff0000;"><strong>6:00 PM</strong> - <em>Hand In Opening of Market</em></h4></li>
      <li><h4><strong>5:45-6:00 PM</strong> - <em>Break</em></h4></li>
      <li><h4><strong>6:00-6:30 PM</strong> - <em>Company Time</em></h4></li>
      <li><h4 style="color: #ff0000"><strong>6:30 PM</strong> - <em>Bank Closes</em></h4></li>
      <li><h4><strong>6:30-7:30 PM</strong> - <em>Conference</em></h4></li>
    </ul>
    <hr>
    <h2>Tuesday, February 23rd, 2016</h2>
    <ul>
      <li><h4><strong>8:00-8:30 AM</strong> - <em>Company Time</em></h4></li>
      <li><h4><strong>8:30-9:30 AM</strong> - <em>Opening of Market</em></h4></li>
      <li><h4><strong>9:30-12:00 P</strong> - <em>Company Time</em></h4></li>
      <li><h4 style="color: #ff0000;"><strong>11:00 AM</strong> - <em>Hand In Business Plan</em></h4></li>
      <li><h4><strong>11:00-11:20 AM</strong> - <em>Break</em></h4></li>
      <li><h4><strong>11:20-1:00 PM</strong> - <em>Company Time</em></h4></li>
      <li><h4 style="color: #ff0000"><strong>1:00 PM</strong> - <em>Hand in TV Ad</em></h4></li>
      <li><h4><strong>1:00-2:00 PM</strong> - <em>Company Time</em></h4></li>
      <li><h4><strong>2:00-2:45 PM</strong> - <em>TV Ad</em></h4></li>
      <li><h4><strong>2:50-3:45 PM</strong> - <em>Lunch</em></h4></li>
      <li><h4><strong>4:00-5:00 PM</strong> - <em>Weakest Link</em></h4></li>
      <li><h4><strong>5:00-6:00 PM</strong> - <em>Company Time</em></h4></li>
      <li><h4><strong>6:00-7:00 PM</strong> - <em>Debate</em></h4></li>
      <li><h4><strong>7:00-7:30 PM</strong> - <em>Company Time</em></h4></li>
      <li><h4 style="color: #ff0000"><strong>7:30 PM</strong> - <em>Bank Closes</em></h4></li>
    </ul>
    <hr>
    <h2>Wednesday, February 24th, 2016</h2>
    <ul>
    <li><h4 style="color: #ff0000;"><strong>8:00 AM</strong> - <em>Hand In Essay</em></h4></li>
      <li><h4><strong>8:00-10:00 AM</strong> - <em>Company Time</em></h4></li>
      <li><h4><strong>10:00-11:15 AM</strong> - <em>Deal or No Deal</em></h4></li>
      <li><h4><strong>11:15-11:30 AM</strong> - <em>Break</em></h4></li>
      <li><h4><strong>11:30-12:30 PM</strong> - <em>Company Time</em></h4></li>
      <li><h4><strong>12:30-1:30 PM</strong> - <em>Speech Contest</em></h4></li>
      <li><h4><strong>1:30-2:15 PM</strong> - <em>Lunch</em></h4></li>
      <li><h4 style="color: #ff0000"><strong>4:00 PM</strong> - <em>Hand in Social Responsibility</em></h4></li>
      <li><h4><strong>2:15-4:30 PM</strong> - <em>Company Time</em></h4></li>
      <li><h4 style="color: #ff0000"><strong>4:30 PM</strong> - <em>Bank Closes</em></h4></li>
      <li><h4 style="color: #ff0000"><strong>5:00 PM</strong> - <em>Hand in Balance Sheet</em></h4></li>
      <li><h4><strong>5:00-6:00 PM</strong> - <em>Social Responsibility</em></h4></li>
      <li><h4><strong>6:00-6:30 PM</strong> - <em>Final Company Meeting</em></h4></li>
      <li><h4><strong>6:30-7:30 PM</strong> - <em>Closing Ceremony</em></h4></li>
      <li><h4><em><strong>Parents and Teachers invited</strong></em></h4></li>
    </ul>
  </div>
  <hr>
</div>
