<% if @transaction.id %>
  <div id="success_message">
    <div class="alert alert-success">
      <p>The transaction has been created successfully.</p>
      <ul>
        <li><%= link_to 'Print Contract', user_transaction_path(@transaction.id), :target => '_blank'%></li>
      </ul>
    </div>
  </div>
<% end %>
