<% provide(:title, base_company(@company)) %>
<div class="company-page">
<!-- Title -->
  <% if @company.name != nil %>
    <h1><%= @company.name %></h1>
    <h2><%= base_company(@company) %></h2>
  <% else %>
    <h1><%= base_company(@company) %></h1>
  <% end %>
<!-- End Title -->

<!-- Staff -->
  <%
    @staffs.each do |s|
      if s.company_id == @company.id
        has_staff = true
        break
      else
        has_staff = false
      end
    end
  %>

  <!-- If has_staff show staff pics and bios -->

</div>
