// Place all the styles related to the BankSystem controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.green-balance{
  margin-top: -15px;
  color: green;
  text-align: center;
}

.red-balance{
  margin-top: -15px;
  color: red;
  text-align: center;
}
